.auth {
  &.container {
    position: relative;
    background-image: url('https://media.istockphoto.com/vectors/library-book-vector-id1151849228?b=1&k=20&m=1151849228&s=612x612&w=0&h=hO1LSWA30kqtDU_V6DmXicpXy70-i4oNa_bWs5SmW1I=') ;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:top;
    height: 100vh;

    .dark-overlay {
      background-color: rgba(0, 0, 0, 0.7);
      height: 100%;
    }

    .auth-inner {
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .text {
      color: #fff;
    }

    .btn-switch {
      font-weight: 500;
      padding: 4px;
      border-radius: 14px;
      min-width: 150px;
      cursor: pointer;

      &.on {
        color: #fff;
        background: #c46c49;
      }
    }
  }
}
