.auth {
  &.container {
    position: relative;
    background-image: linear-gradient(to bottom right, blue, yellow);
    height: 100vh;

    .dark-overlay {
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
    }

    .auth-inner {
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .text {
      color: #fff;
    }

    .btn-switch {
      font-weight: 500;
      padding: 4px;
      border-radius: 14px;
      min-width: 150px;
      cursor: pointer;

      &.on {
        color: #fff;
        background: blue;
      }
    }
  }
}
