body {
  .product-item {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 15px;
    box-shadow: rgb(60 64 67 / 0.1) 0px 1px 2px 0px, rgb(60 64 67 / 0.15) 0px 2px 6px 2px;

    &:hover {
      animation-name: animZoom;
      animation-duration: 0.5s;
    }
  }

  @keyframes animZoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.02);
    }
  }

  .product-item-detail {
    background: linear-gradient(to right, #dd5e89, #f7bb97);
    padding: 16px;
    border-radius: 8px;
    min-height: 400px;
  }

  .product-item-money {
    display: inline-block;
    margin-bottom: 10px !important;
    font-size: 1.8rem;
    font-weight: 700;
    color: #d70018;
  }

  .option-item {
    border: 1px solid #d1d5db;
    min-width: 120px;
    padding: 8px 20px;
    border-radius: 8px;
    text-align: center;
  }

  .option-item-activated {
    border: 1px solid #d70018;
    min-width: 120px;
    padding: 8px 20px;
    border-radius: 8px;
    text-align: center;
  }
}
